html {
	min-height: 100%;
	height: 100%;
}

body {
	background-color: #eeeeee;
	color: black;
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}

div#left {
	position: fixed;
	top: 0;
	float: left;
	width: 30%;
	min-height: 100%;
	height: 100%;
	background-color: #fefefe;
}

div#right {
	float: right;
	height: auto;
	width: 70%;
	background-color: #eeeeee;
}

div#header {
	width: 80%;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 25px;
	height: 52px;
	text-align: left;
	padding: 4px;
	padding-left: 0;
	padding-bottom: 10px;
	color: black;
}

h3#title a {
	font-size: 100%;
	text-decoration: none;
	color: #3cb371;
}

/* menu */
#menu {
	width: 70%;
	margin-left: auto;
}

#menu ul{
	margin: 0; 
	padding: 0;
	list-style: none; 
	height: 100%;
}
#menu li{ 
	display: block; 
	padding: 0; 
	margin: 10px 0 10px 0;
	height: 100%;
}

#menu li a{
	display: block; 
	border-left: 8px solid #c2a46c;
	padding: 0px 10px;
	text-decoration: none;
	color: #c1c2af;
	width: 200px; 
	margin: 0px 0px;
	text-align: left;
	font-size: 14px;
	height: 100%;
}
#menu li a:hover{
	border-left: 8px solid #fafad2;
	color: #f08080;
}

/* socialButtons */
#social {
	position: fixed;
	width: 30%;
	text-align: center;
	bottom: 0px;
}

ul.share-buttons{
	list-style: none;
	padding: 0;
}

ul.share-buttons li{
	display: inline;
	margin: 0 10px;
}

ul.share-buttons li a {
	color: #c1c2af;
}

ul.share-buttons li a:hover {
	color: #a1a277;
}


/* userinfo */
#userinfo {
	margin: 0px 20px 0px auto;
	height: 36px;
	color: #c1c2af;
	font-size: 10px;
	text-align: right;
}

#usernm {
	margin-bottom: 4px;
}

#logout {
	cursor: pointer;
	line-height: 15px;
	margin: 0 0 0 auto;
	text-decoration: none;
}

#logout:hover {
	text-decoration: underline;
	color: #f08080;
}

div#content {
	width: 90%;
	margin: 32px auto 0 auto;
}

div#searchbox {
	margin: 0 auto;
	width: 90%;
	text-align: left;
}

ul.searchconds{
	list-style: none;
	padding: 0;
}

ul.searchconds li{
	display: inline;
	margin: 0;
}

div#main {
	margin-top: 32px;
}

p#listtitle, #addtitle, #rgsttitle, #logintitle {
	width: 90%;
	height: 10px;
	margin: 0 auto;
	text-align: left;
	color: #008000;
}

div#wordlist, #addform, #rgstform, #loginform {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
	width: 90%;
}

div#remark {
	margin-left: 0px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 20px 15px 12px 15px;
	list-style-type: none;
	border-style: none;
	border-radius: 5px;
	border-color: #cccccc;
	text-align: center;
	background: #fefefe;
	color: #777777;
	box-shadow:5px 5px 10px;
}

p#tag, #datetime {
	text-align: right;
	font-size: 10px;
	margin-right: 15px;
}

/* remark内ソーシャルボタン */
#btn-social {
}

.fa-stack {
	font-size: 90%;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.text-btn-star, .text-btn-twitter, .text-btn-facebook {
	color: #fefefe;
}

.text-btn-star:hover {
	color: #f0a700;
}

.text-btn-twitter:hover {
	color: #55acee;
}

.text-btn-facebook:hover {
	color: #3b5998;
}

.bg-btn-social {
	color: #dcdcdc;
}

.bg-btn-social:hover {
	color: #cdcdcd;
}


div#inputform {
	margin-top: 20px;
	padding: 10px 30px 10px 30px;
	border-style: none;
	border-radius: 5px;
	border-color: #cccccc;
	text-align: left;
	background: #fefefe;
	color: #777777;
	box-shadow:5px 5px 10px;
}

p#inputlabel {
	display: block;
	color: #007400;
	width: 100%;
	float: left;
	margin-bottom: 2px;
}

p#inputedt {
	width: 100%;
	display: block;
}

input#remark, #tags, #username, #password, #email, #cond {
	border: 1px solid #ddd;
	font-size: 100%;
	padding: 0.5em;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1) inset;
}

input#remark, #email {
	width: 100%;
}

input#cond {
	width: 50%;
}

input#tags {
	width: 50%;
}

input#username, #password {
	width: 25%;
}

.btnAdd, .btnRgst {
	background: #8fbc8f;
	border-style: solid;
	border-width: thick;
	border-color: #8fbc8f;
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin: 40px 0 20px 0;
	color: #ffffff;
	border-radius: 5%;
	cursor: pointer;
	-webkit-translation: all 0.2s;
	-moz-translation: all 0.2s;
	-ms-translation: all 0.2s;
	-o-translation: all 0.2s;
	translation: all 0.2s;
}

#btnSearch {
	cursor: pointer;
	color: #999999;
}

#btnSearch:hover {
	color: #444444;
}

.btnAdd:active, .btnRgst:active {
	background: white;
}




